

.blinking-banner {
  animation: blinker 3.5s linear infinite;
  background-color: #fff;
  color: #000;
  font-weight: bold;
  font-size: 1.9rem;
  text-align: center;
  margin: 10px auto;
  width: fit-content;
  border-radius: 10px;
  padding: 20px;
  text-shadow: 2px 2px 4px rgb(63, 96, 138), -2px -2px 1px rgb(0, 255, 179);
}


/* Blinking animation */
@keyframes blinker {
    0% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

/* Make the font size and padding responsive */
@media (max-width: 768px) {
    .blinking-banner {
        font-size: 1.2rem;
        padding: 8px 15px;
    }
}

@media (max-width: 480px) {
    .blinking-banner {
        font-size: 1rem;
        padding: 6px 12px;
    }
}