.car-listing {
    padding: 2rem;
  }
  
  .search-bar {
    text-align: center;
    margin-bottom: 1rem;
  }
  
  .search-bar input {
    padding: 0.5rem;
    width: 50%;
    border-radius: 5px;
    border: none;
  }
  
  .filters {
    display: flex;
    gap: 1rem;
    justify-content:flex-end;
    margin-bottom: 2rem;
  }
  
  .filters input {
    padding: 0.5rem;
    border-radius: 5px;
    border: none;
  }
  
  .car-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
  }
  
  
input.custom-text-box {
    border: 2px solid rgb(178, 235, 132);
    border-radius: 10px;
    padding: 10px;
  }

  .custom-select {
    border: 2px solid rgb(178, 235, 132);
    border-radius: 10px;
    height: 38px;
  }
  
  .custom-select option {
    background-color: rgb(178, 235, 132);
    color: black;
  }
  .no-cars {
    text-align: center;
    font-size: 1.2rem;
    color: #ffcc00;
  }
  /* Responsive design */
  @media (max-width: 768px) {
    .filters {
      flex-direction: column;
      gap: 15px;
    }

    .custom-select, .custom-text-box {
      width: 100%;
      font-size: 16px;
    }

    .filter-container {
      width: 100%;
    }
  }
  
  